body {
  background: #1c1c1c;
  color: #f2f2f2;
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
}

h1, h2, h3, h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
}

/* NAVBAR COLOR */
.custom-navbar {
  background-color: #1c1c1c !important;
  border-bottom: 1px solid #2e2e2e;
  
}

.navbar-brand {
  color: #fff !important;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.green-txt { 
  color: #a1ea93; 
}

.custom-navbar .navbar-nav .nav-link {
  color: #f2f2f2 !important;
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-nav .nav-link.active {
  color: #a1ea93 !important;
}

/* BUTTON */
.btn-cta {
  background-color: #a1ea93 !important;
  color: #1c1c1c !important;
  font-weight: bold;
  border: none;
  padding: 0.45rem 1.2rem;
}

.btn-cta:hover {
  opacity: 0.5;
}

/* SECTION */
.header {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 5px;
}

/* end of page cta */
.final-cta {
  padding: 4rem 0;
      text-align: center;
  border-top: 1px solid #2e2e2e;
}

.final-cta h2 { font-size: clamp(2rem, 4vw, 2.8rem); margin-bottom: 1rem; }
.final-cta p {  max-width: 480px; margin: 0 auto 2rem; }

/* FOOTER */
footer {
  background: #111;
  border-top: 1px solid #2e2e2e;
  padding: 2rem 0;
  text-align: center;
  color: #f2f2f2;
  font-size: 0.8rem;
}





